body{
    margin: 0;
}
header {
    text-emphasis: bold;
    font-size: 3em;
}
footer {
    width: 100%;
}
.centered {
    text-align: center;
}
.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.content {
    flex: 1 0 auto;
    width: 100%;
}
.content:after {
    content: ‘\00a0’;
    display: block;
    height: 0;
    visibility: hidden;
}
.navLink {
    color: inherit;
}
.navLink:hover {
    text-decoration: none;
}
.dropMenu {
    text-align: center;
    min-width: 5vw;
}